<div class = "col-xs-12 col-sm-6">
    <div class="form-gr">
        <label for="Registered ">registered dates</label>
            <select multiple class="form-control" id="exampleFormControlSelect2">
                <option *ngFor="let time of registered_Times"option>{{time.hour_and_minute}}</option>
            </select>
    </div>
</div>
<div class = "col-xs-12 col-sm-6">
    <div class="form-group row">
        <div class="form-group align-items-center">
            <div class="col-xs-3">
              <label for="ex1">hour</label>
              <input (keyup)="hourInput($event)" class="form-control" id="ex1" type="text">
            </div>
            <div class="col-xs-3">
              <label for="ex1">min</label>
              <input (keyup)="minuteInput($event)" class="form-control" id="ex1" type="text">
            </div>
        </div>
        <div class = "col-xs-12 col-sm-12" id="div3">
          <button (click) = "addNewTime()" class="btn btn-primary btn-block">
            Add Date
          </button>
        </div>
    </div>
    <div>
      <button class="btn btn-primary btn-block">
        Delete
      </button>
    </div>
</div>
